<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="User Front End tests" verbose="1" >
    <test name="Account Tests">
        <classes>
            <class name="User_FE.Tests.AccountTests"/>
        </classes>
    </test>
    <test name="Search Tests" >
        <classes>
            <class name="User_FE.Tests.SearchTests" />
        </classes>
    </test>

</suite>
